<h2 class="title is -2"><%= @club.club_name %></h2>

<p class="mb-5">
  This Club belongs to <%= link_to @club.league.league_name, @club.league %>.
</p>

<h5 class="title is-5">Code: <%= @club.code %></h5>
<h5 class="title is-5">Country: <%= @club.country %></h5>

<p class="mt-5">
  <strong><%= link_to '👉See the Clubs List!', clubs_path %></strong>
</P>

