<h2 class="title is -2"><%= @league.league_name %></h2>

<p class="mb-2">
  This League contains <%= @league.clubs.count %> Clubs.
</p>


<ul>
  <% @league.clubs.each do |club| %>
  <li><%= link_to club.club_name, club %></li>
  <% end %>
</ul>

<h3 class="title is-3, mt-5">Match Schedule</h3>
<ul>
  <% @league.matches.each do |match| %>
  <li>
    <%= link_to match.round, match %>
    <%= match.date %>
    <%= match.team1 %> ||
    <%= match.team2 %>
  </li>
  <% end %>
</ul>