<% content_for(:html_title) { @match.round } %>

<h2 class="title is -2"><%= link_to @match.round, @matches %></h2>

<h3 class="title is -3">Match Details</h3>
<ul>
  <li>
    <strong>Round: </strong>
    <%= @match.round %>
  </li>
  <li>
    <strong>Date: </strong>
    <%= @match.date %>
  </li>
  <li>
    <%= @match.team1 %> || <%= @match.team2 %>
  </li>
</ul>