<hr>
<footer>
  <p>Copyright 2021</p>
  <ul class="mt-5">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Leagues List", leagues_path %></li>
    <li><%= link_to "Clubs List", clubs_path %></li>
    <li><%= link_to "Matches List", matches_path %></li>
    <li><%= link_to "About", pages_path %></li>
  </ul>
</footer>